In [10]:
from collections import namedtuple
Movie=namedtuple('Movie','title year score')
d=[(('Steven Spielberg', 7.5), [Movie(title="Schindler's List ", year=1993, score=8.9)])]
for a, (k, v) in enumerate(d,1):
    print (a,k,v)

1 ('Steven Spielberg', 7.5) [Movie(title="Schindler's List ", year=1993, score=8.9)]